{% extends 'main.html' %}
{% block title %}Login{% endblock %}
{% block content %}

  <div>
    <form method="POST" action="">
      {% csrf_token %}
      {% include "messages.html" %}
      <label> Username:
        <input type="text" name="username" placeholder="Enter Username" required>
      </label>
      <label> Password:
        <input type="password" name="password" placeholder="Enter Password" required>
      </label>
      <input type="submit" value="Login">
    </form>
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>
  </div>

{% endblock %}