<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>StudyBud - Find a tech help! </title>
  <link rel="stylesheet" href="{% static 'style/main.css'%}">
</head>
<body>
  
  {% include "components/navbar.html" %}
  {% include "components/messages_component.html" %}
  {% block content %}
  {% endblock %}

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>