{% extends "main.html" %}
{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'general/home.css' %}">
  </head>
  <body>

  <div class="home-container">
    <div>
      <h3>Browse Topics</h3>
      <div>
        <a href="{% url 'home' %}">All</a>
      </div>
      {% for topic in topics %}
        <div>
          <a href="{% url 'home' %}?query={{ topic.name }}">{{ topic.name }}</a>
        </div>
      {% endfor %}

      <hr>
    </div>


    <div>
      <h5>{{ room_count }} Room{{ room_count|pluralize:",s"}}  Available</h5>
      <a href="{% url 'create-room' %}">CREATE ROOM</a>
      {% for room in rooms %}
        <div>
          <hr>
          <a href="{% url 'update-room' room.id %}">UPDATE</a>
          <a href="{% url 'delete-room' room.id %}">DELETE</a>
          <span>@{{ room.host }}</span>
          <a href="{% url 'room' room.id %}">{{ room.id }} -- {{ room.name }}</a>
          <p>{{ room.description }}</p>
          <small>{{ room.topic.name }} - {{ room.created }}</small>
        </div>
      {% endfor %}</div>
  </div>

  </body>
{% endblock content %}
