{% extends "main.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'style/profile.css' %}">
{% endblock %}

{% block content %}

  <main class="profile-page layout layout--3">

    <div class="container">

      {% include "components/topics_component.html" %}

      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="User Profile Picture"/>
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user.get_full_name }}</h3>
            <p>@{{ user.username }}</p>
            {% if request.user == user %}
              <a href="{% url 'profile-update' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{ user.get_full_name }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{ user.username }}</h2>
          </div>
        </div>

        {% include "components/feed_component.html" %}
      </div>

      {% include "components/activity_component.html" %}
    </div>

  </main>

{% endblock content %}