{% extends "main.html" %}
{% block title %}Room {{ room.name }}{% endblock title %}
{% block content %}


  <h1>Room: {{room.name}}</h1>

  <p>{{ room.description }}</p>

  <div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>

    {% for message in room_messages %}
      <div>
        <span>@{{ message.author }}  -  {{ message.created|timesince }} ago</span>
        <p>{{ message.body }}</p>
        <hr>
      </div>
    {% endfor%}
  </div>

{% if request.user.is_authenticated %}
  <div class="comment-form">
    <form method="POST" action="">
      {% csrf_token %}
      <label>
        <input type="text" name="body" placeholder="What you say?">
      </label>
    </form>
  </div>
{% endif %}

{% endblock content %}
